@model Projeto.Presentation.Models.FuncionarioConsultaModel

@{
    ViewData["Title"] = "Consulta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles{ 
    <link href="~/css/jquery-dataTables.min.css" rel="stylesheet" />
}

@section scripts{ 
    <script src="~/js/jquery-dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabela_funcionarios').DataTable({
                "ordering": true,
                "pageLength": 5,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "searching": false,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Filtrar registros",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma decrescente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionando %d linhas",
                            "0": "Nenhuma linha selecionada",
                            "1": "Selecionado 1 linha"
                        }
                    }
                }
            });
        });
    </script>
}

<h4>Consulta de Funcionários</h4>
Relação de funcionários cadastrados no sistema.
<hr/>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-5">
            <label>Nome do Funcionário</label>
            @Html.TextBoxFor(model => model.Nome,
            new
            {
                @class = "form-control",
                @placeholder = "Digite o nome do funcionário desejado.",
                @autocomplete = "off"
            })
            <spam class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </spam>
        </div>
        <div class="col-md-4">
            <label>Situação do Funcionário:</label> <br />
            @Html.RadioButtonFor(model => model.Ativo, "1") <spam>Ativos</spam>
            <br />
            @Html.RadioButtonFor(model => model.Ativo, "0") <spam>Inativos</spam>
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Ativo)
            </span>
        </div>
    </div>

    <input type="submit" value="Pesquisar Funcionários" class="btn btn-success btn-sm" />

    <input type="reset" value="Limpar" class="btn btn-secondary btn-sm" />
}

<br />

@if (Model != null && Model.Funcionarios != null)
{
    if (Model.Funcionarios.Count > 0)
    {
        <table id="tabela_funcionarios" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nome do Funcionário</th>
                    <th>Email</th>
                    <th>Salário</th>
                    <th>Data de Admissão</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Funcionarios)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Email</td>
                        <td>@item.Salario.ToString("c")</td>
                        <td>@item.DataAdmissao.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if (item.Ativo)
                            {
                                <a href="/Funcionario/Edicao?id=@item.IdFuncionario" class="btn btn-primary btn-sm">Atualizar</a>
                                <a href="/Funcionario/Exclusao?id=@item.IdFuncionario" onclick="return confirm('Deseja excluir o funcionário @item.Nome ?')" class="btn btn-danger btn-sm">Excluir</a>
                            }
                            else
	                        {
	                            <a href="/Funcionario/Reativar/@item.IdFuncionario" onclick="return confirm('Deseja reativar o funcionário @item.Nome ?')" class="btn btn-info btn-sm">Reativar Funcionário</a>
                        	}   
                        </td>
                    </tr>
                            }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Quantidade de funcionários: @Model.Funcionarios.Count</td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <spam>Nenhum Resultado foi obtido para a pesquisa realizada.</spam>
    }
}
