@model Projeto.Presentation.Models.FuncionarioEdicaoModel

@{
    ViewData["Title"] = "Edicao";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Edição de Funcionários</h4>
Utilize os campos abaixo para atualizar os dados do funcionário
<hr />

@using (Html.BeginForm())
{
    <!-- campo oculto -->
    @Html.HiddenFor(model => model.IdFuncionario)

    <!-- campo nome -->
    <div class="form-group">
        <label>Nome do Funcionário:</label>
        @Html.TextBoxFor(model => model.Nome,
        new
        {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui",
            @autocomplete = "off"
        })
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.Nome)
        </span>
    </div>

    <!-- campo email -->
    <div class="form-group">
        <label>Email:</label>
        @Html.TextBoxFor(model => model.Email,
        new
        {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui",
            @autocomplete = "off"
        })
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.Email)
        </span>
    </div>

    <!-- campo data de admissão -->
    <div class="form-group">
        <label>Data de Admissão:</label>
        @Html.TextBoxFor(model => model.DataAdmissao,
        new
        {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui",
            @autocomplete = "off",
            @type = "date"
        })
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.DataAdmissao)
        </span>
    </div>

    <!-- campo salário -->
    <div class="form-group">
        <label>Salário:</label>
        @Html.TextBoxFor(model => model.Salario,
        new
        {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui",
            @autocomplete = "off"
        })
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.Salario)
        </span>
    </div>
}

